body{
    margin: 20px;
}
.container > div{
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.container > div:nth-child(1) {
    background-color: #999;
}

.container > div:nth-child(2) {
    background-color: #232323;
    color: white;
}
.container > div:nth-child(3) {
    background-color: #777;
}
