

.container{
    border: 5px solid #ffccfc;
    display: flex;
    
} 

.logout{
    flex: 1 1 200px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}
.home{
    flex: 1 1 200px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}
