:root {
  --clr-primary-100: hsl(0, 100%, 74%);
  --clr-primary-200: hsl(154, 59%, 51%);

  --clr-accent-100:  hsl(248, 32%, 49%);

  --clr-neutral-100: hsl(249, 10%, 26%);
  --clr-neutral-200: hsl(246, 25%, 77%);

  --ff-primary: 'Poppins', sans-serif;;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-450: 1.2rem;
  --size-500: 1.5rem;
  --size-550: 1.875rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;


}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    min-height: 100%;
    overflow-x: hidden;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 47em) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }
}
@media (max-width: 47em) {
  body {
    background-image: url(/images/bg-intro-mobile.png);
  }
}
body {
  font-family: var(--ff-primary);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-primary-100);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* general styling */
.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.section1 {
  background-color: var(--clr-accent-100);
  padding-block: var(--size-400);
  box-shadow: 0px 10px 0px hsl(359, 62%, 63%);
}
.form {
  display: grid;
  gap: var(--size-400);
  background-color: hsl(0, 0%, 100%);
}
.section2 {
  background-color: var(--clr-primary-200);
  border-radius: 7px;
  border: 0;
}
.column1 {
  display: grid;
  width: 100%;
}
.column1 h1{
  max-width: 20ch;
}

.section1 {
  display: grid;
  justify-content: center;
  margin-block: var(--size-500);
  border-radius: 10px;
}
.form {
   padding: var(--size-500);
   border-radius: 10px;
   box-shadow: 0px 10px 0px hsl(359, 62%, 63%);
}
.form > * {
  padding: var(--size-300);
}
.form p {     
  font-size: 12px;
}
/* mobile */
@media (max-width: 47em) {
  .column1 p {
    max-width: 32ch;
    margin-block: var(--size-400);
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .section1 p {
    max-width: 23ch;
  }
  .form p {
    max-width: 35ch;
}
.container {
  text-align: center;
  margin-block: var(--size-800);
  margin-inline: var(--size-400);
}
} 

/* desktop */
@media (min-width: 47em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .column1 p{
    max-width: 50ch;
  }
  
}

/* Utility classes */
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.clr-100 {
  color: white;
}
.clr-200 {
  color: hsl(3, 100%, 96%);
}
.clr-300 {
  color: hsl(1, 68%, 72%);
}
.clr-400 {
  color: hsl(250, 10%, 76%);
}
.fs-100 {
  font-size: 1rem;
}
.fs-200 {
  font-size: 1.7rem;
}
.fs-300 {
  font-size: var(--size-300);
}